@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkitfont-smoothing: antialiased;
  -webkit-animation: .3s ease;
          animation: .3s ease;
}

body {
  width: 100%;
  display: block;
  overflow-x: hidden;
  background-color: #040a29;
  color: #fdfffc;
  font-family: 'Muli', sans-serif;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #64ffda;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #009773;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #8892b0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: teal;
}

a:hover {
  color: #ccd6f6;
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
}

header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .logo {
  color: #64ffda;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 20px 20px 10px 20px;
  background-repeat: no-repeat;
}

header nav .logo a {
  color: #64ffda;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav li a {
  color: #64ffda;
  display: block;
  position: relative;
  padding: 20px 20px 10px;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #040a29;
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.styled-lists {
  color: #8892b0;
}

.styled-lists > ul {
  list-style: none;
}

.styled-lists > ul li::before {
  position: absolute;
  content: "▹";
  left: 0px;
  color: #64ffda;
}

.contact {
  color: teal;
  font-family: 'Fira Code', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px 5px 5px 8px;
  border: 1px solid teal;
  border-radius: 5px;
}

.contact:focus, .contact:hover {
  color: #64ffda;
  border: 1px solid #64ffda;
  text-shadow: 0 0 2px rgba(100, 255, 218, 0.92), 0 0 10px rgba(100, 225, 218, 0.34), 0 0 4px rgba(43, 90, 109, 0.52), 0 0 7px rgba(43, 90, 109, 0.92), 0 0 11px rgba(43, 90, 109, 0.78), 0 0 16px rgba(43, 90, 109, 0.92);
}

.link-hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#64ffda), to(#64ffda));
  background: linear-gradient(to bottom, #64ffda 0%, #64ffda 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #ccd6f6;
  text-decoration: none;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

.link-hover:hover {
  background-size: 2px 8px;
}

.jumbotron {
  margin-bottom: 0;
  background: transparent;
}

.jumbotron p {
  letter-spacing: 2px;
  font-size: 4vw;
  font-weight: 700;
  padding: 0;
  color: #8892b0;
}

.jumbotron h1 {
  text-shadow: 0px 5px 5px rgba(56, 56, 56, 0.7);
  margin: 0;
  padding: 0;
  font-size: 8vw;
  letter-spacing: 8px;
  font-weight: 900;
  color: #ccd6f6;
  line-height: 1;
  text-transform: uppercase;
}

.hero-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: 30%;
  z-index: -1;
}

.vertical-title {
  text-align: left;
  font-family: 'Muli', sans-serif;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 6rem;
  line-height: 1;
  color: #fff;
  overflow: hidden;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.vertical-title.bg-vert {
  background-image: url("https://images.unsplash.com/photo-1574968733474-37df85e27657?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
}

.parallax {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.padding-top-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
}

.footer-link {
  width: 40px;
  height: 40px;
  color: #020c1b;
  background: #a0a59e;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  margin: .55rem;
  border-radius: 20px;
}

.footer-link:hover {
  background-color: #d4d6d3;
}

.footer-link i {
  color: #020c1b;
}

.full-height {
  height: 100vh;
}

.card {
  border-radius: 1rem;
}

.btn {
  border-radius: 1rem;
}

.btn-light {
  background-color: #e8e9eb;
}

.form-control {
  border-radius: 1rem;
}

.nav {
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  border-bottom: none;
}

.nav-tabs > li {
  float: none;
}

.nav-tabs > li > a {
  color: teal;
}

.nav-tabs > li > a:hover {
  color: #64ffda;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.nav-tabs ::-webkit-scrollbar {
  display: none;
}

.nav-tabs .nav-link {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid teal;
}

.nav-tabs .nav-link:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border-bottom-color: #64ffda;
}

.nav-tabs .nav-item-show .nav-link, .nav-tabs .nav-link.active {
  color: #64ffda;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #64ffda;
}

.tab-pane {
  color: #8892b0;
}

.tab-pane > ul {
  list-style: none;
}

.tab-pane > ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
}

.background-dark {
  background-color: #020c1b;
}

.text-neon {
  color: #64ffda;
}

.light-gray {
  color: #e8e9eb;
}

h6 {
  display: none;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .vertical-title {
    display: none;
  }
  h6 {
    display: block;
  }
  .title-sm {
    text-align: left;
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #ccd6f6;
  }
  .main-content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px !important;
  }
  .hero-parallax {
    background-size: 100%;
    background-position: 50% 50%;
  }
}
/*# sourceMappingURL=style.css.map */